
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.main-navigation {
  background: url('../img/hero-bike.png') no-repeat center #e5e3e9;
}

.navbar-nav {
  padding: 24px 0;
}

.header {
  font-size: 20px;
  line-height: 2.2;
  padding-top: 58px;
}

.promo {
  font-size: 18px;
  line-height: 1.9;
  background-color: #f7f7f7;
}

.promo-container {
  padding: 120px 15px; 
}

.presentation {
  overflow: hidden;
}

.presentation__info {
  padding: 0 15px;
  line-height: 1.8;
}

.presentation__header {
  padding-top: 116px;
  margin: 0;
}

.presentation__product {
  height: 600px;
}

.presentation__item:nth-child(3)::after,
.presentation__item:nth-child(4)::after,
.presentation__item:nth-child(7)::after {
  font-size: 0;
  line-height: 0;
}

.presentation__item:nth-child(3)::after {
  content: url('../img/bikesit.png');
}

.presentation__item:nth-child(4)::after {
  content: url('../img/bikesit-dark.png');
}

.presentation__item:nth-child(7)::after {
  content: url('../img/bike-part2.png');
}

.presentation__oliva {
  background: url('../img/Layer\ 101.png') no-repeat;
  background-size: cover;
}

.presentation__laboriosa {
  background: url('../img/bike-lake.png') no-repeat;
  background-size: cover;
}

.presentation__hulot {
  background: url('../img/bike-part1.png') no-repeat;
  background-size: cover;
}

.post {
  background-color: #f7f7f7;
  padding-bottom: 44px;
}

.post__item {
  padding-top: 124px;
  padding-bottom: 68px;
}

.post__content {
  font-size: 24px;
}

.post__author {
  padding-top: 60px;
  margin: 0;
  font-size: 18px;
  display: inline-block;
}

.post__author::before {
  content: url('../img/icon-twiter.png');
  position: absolute;
  top: 124px;
  left: 48%;
}

.post__content {
  padding: 12px 0 50px;
}

.carousel-indicators {
  margin-bottom: 58px;
}

.carousel-indicators li {
  margin: 0 5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #a9afb3;
}

.details__shopping {
  width: 534px;
  height: 267px;
  background: url('../img/detail-6.png') #64c29e no-repeat;
  background-size: cover;
}

.details__photos {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;
}

.details__shop-now {
  padding: 142px 0 101px;
  display: block;
  background-color: rgba(100, 194, 158, 0.7);
}

.details__icon {
  position: absolute;
  left: 45%;
  top: 20%;
}

.details__discover {
  width: 100%;
  background-color: #282f35;
}

.details__btn {
  padding: 12px;
  margin: 75px 0;
  width: 300px;
  border-radius: 0;
}

.subscribe {
  padding: 110px 0;
}

.subscribe__title {
  padding: 32px 0 35px;
  margin: 0;
  font-size: 21px;
  font-style: italic;
  color: #848789;
}

.subscribe__email {
  padding: 34px 26px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 0;
  vertical-align: middle;
}

.subscribe__submit {
  padding: 16px 45px;
  font-size: 24px;
  background-color: #64c29e;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
}

.main-footer {
  background-color: #f7f7f7;
}

.main-footer__container {
  padding: 93px 0 63px; 
}

.main-footer__contact {
  line-height: 18px;
}

.social__items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__item {
  margin-right: 15px;
}

.social__link {
  width: 35px;
  height: 35px;
}

.social__icon {
  display: block;
}

@media (min-width: 767px) {
  .main-navigation {
    min-height: 800px;
  }

  .navbar-nav {
    min-width: 640px;
  }

  .presentation__info {
    padding: 0 20px 0 78px;
  }

  .presentation__item:nth-child(3)::after,
  .presentation__item:nth-child(4)::after,
  .presentation__item:nth-child(7)::after {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .subscribe__email {
    width: 400px;
  }
}
